body {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

.blogParent {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%
}

.blogCard {
    display: flex;
    flex-direction: row;
    padding: 0px 20px 50px;
    width: 600px;
    /* height:200px; */
    flex-wrap: nowrap;
    background-color: white;
    margin: 0px 20px 50px;
    height: 350px;
    /* box-shadow: -16px 16px 23px rgb(185, 183, 187); */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    border: 2px solid black;
}

.blogCardText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.blogCardText h1 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    font-family:'josefin sans',sans-serif;
}

.blogCardText p {
    line-height: 150%;
    opacity: 100%;
    font-family: 'Lato', sans-serif;
}

.blogCardText div p {
    padding: 20px 35px 20px;
}

.cardImageDiv {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cardImageDiv .parent {
    width: 100%;
    /* object-fit:cover;
    height:100%; */
}

.cardImageDiv a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 5%;
    background-color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(77, 77, 77)
}

.colorize {
    animation: colorize 0.5s linear;
    animation-fill-mode: forwards;
}

.decolorize {
    animation: decolorize 0.5s linear;
    animation-fill-mode: forwards;
}

.color {
    position: absolute;
    left: 0;
}

.colorsplash {
    z-index: 5;
    position: relative;
}

.fadeOut {
    animation: fadeOut 0.5s linear;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation: fadeIn 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.sideTitleDiv {
    width: 10%;
    position: fixed;
    top: 20%;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sideTitle {
    width: 100%;
}

.content {
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 80%;
    margin-left: 15%;
    margin-top: 3%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.featured {
    width: 25%;
    position: relative;
    height: fit-content;
    outline: 4px solid black;
    outline-offset: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /* fixed testing */
    /* position:fixed;
    width:20%;
    right:1.5%; */
}

.featured h1 {
    font-family: 'josefin sans', sans-serif;
    font-size: 33px;
    background-color: white;
    position: absolute;
    bottom: 3%;
    right: 0;
    z-index: 2;
    font-weight: 700;
    text-align: right;
}

.featured h1 span {
    font-weight: 400;
    font-size: 30px
}

.featured video {
    width: 100%;
    /* filter: grayscale(100%) */
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-bottom: 40px;
    color: #c10206;
}

.date p {
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #c10206;
}

.paragraphDiv {
    height: 50%;
}

.readMore {
    bottom: 0;
    background-color: #c10206;;
    color: white;
    position: absolute;
    padding: 5px 10px 5px;
    right: 20px;
    font-weight: 500;
    font-size: 12px;
}

@media screen and (max-width:2312px) {
    .blogCard {
        width: 570px;
        height: 332.5px;
    }
}

@media screen and (max-width:2205px) {
    .blogCard {
        width: 540px;
        height: 315px;
    }
}

@media screen and (max-width:2105px) {
    .content {
        justify-content: space-between;
        margin-left: 7%;
        width: 90%
    }

    .sideTitleDiv {
        width: 5%;
    }
}

@media screen and (max-width:1868px) {
    .featured {
        width: 20%;
    }

    .featured h1 {
        font-size: 23px;
    }

    .featured h1 span {
        font-size: 18px;
    }

    .blogCard {
        width: 510px;
        height: 297.5px;
    }

    .blogParent {
        width: 80%;
    }
}

@media screen and (max-width:1669px) {
    .blogCard {
        width: 480px;
        height: 280px;
    }
}

@media screen and (max-width:1579px) {
    .blogCard {
        width: 720px;
        height: 420px;
    }

    .featured {
        width: 30%;
    }

    .featured h1 {
        font-size: 33px;
    }

    .featured h1 span {
        font-size: 30px;
    }

    .content {
        justify-content: space-between;
        margin-left: 15%;
        width: 80%
    }

    .sideTitleDiv {
        width: 10%;
    }
}

@media screen and (max-width:1420px) {
    .blogCard {
        width: 720px;
        height: 420px;
    }

    .content {
        justify-content: space-between;
        margin-left: 10%;
        width: 85%
    }

    .sideTitleDiv {
        width: 7%;
    }

    .featured {
        width: 20%;
    }
}

@media screen and (max-width:1420px) {
    .blogCard {
        width: 600px;
        height: 300px;
    }

    .content {
        justify-content: space-between;
        margin-left: 10%;
        width: 85%
    }

    .featured {
        width: 25%;
    }

    .featured h1 {
        font-size: 23px;
    }

    .featured h1 span {
        font-size: 18px;
    }
}

@media screen and (max-width:1095px) {
    .blogCard {
        width: 780px;
        height: 390px;
    }

    .content {
        justify-content: center;
        margin-left: 10%;
        width: 95%
    }

    .featured {
        width: 25%;
        display:none;
    }
}

@media screen and (max-width:800px) {
    .sideTitleDiv {
        position:relative;
    }
    .blogParent {
        width:100%;
    }
    .content {
        margin-right:0;
        margin-left:0;
        width:100%;
    }
}

@media screen and (max-width:500px) {
    .blogCard {
        width: 100%;
        height: auto;
    }

    .content {
        justify-content: center;
        margin-left: 0;
        width: 100%
    }

    .featured {
        width: 25%;
        display:none;
    }
    .sideTitleDiv {
        position:relative;
    }
    .blogParent {
        width:100%
    }
    .blogCard {
        flex-direction:column;
        margin:0px 10px 30px;
        padding:0px 5px 5px;
        height:300px;
    }
    .blogCardText {
        height:30%;
    }
    .blogCardText h1 {
        font-size:30px;
        height:fit-content;
        margin-top:5px;
    }
    .blogCardText div p {
        padding: 5px 15px 10px;
        background-color:white;
        color:black;
        font-weight: 500;
        position:absolute;
        z-index:10;
        width:80%;
        text-align:left;
        /* border-bottom:4px solid black; */
        border-right: 4px solid #c10206;
    }
    .paragraphDiv {
        height:70%;
    }
    .sideTitleDiv div {
        margin-bottom:5px;
    }
    .cardImageDiv {
        height:100%;
        margin-top:10%;
    }
    .cardImage
}


.banner {
    width: 100%;
    background-color: #c10206;;
    height: 30px;
    position: relative;
    margin-top:50px;
    overflow:hidden;
}

.bannerMessage {
    color: white;
    position: absolute;
    top: -40%;
    animation: animate 40s linear infinite;
    font-weight:600;
    width:10000px;
    height:20px;
    font-family: 'josefin sans', sans-serif;
    font-size:16px;
}

.bannerMessage span {
    transform:scale(1.2);
}

@keyframes animate {
    from {
        left: 101%;
    }

    to {
        left: -40%;
    }
}