body {
    margin: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    overscroll-behavior: none;
}

/* #main {
    margin-bottom:100px;
} */

canvas {
    background-color: transparent;
}

.nav {
    width: 100%;
}

.logo {
    position: absolute;
    top: 1px;
    left: 30px;
}

.logo img {
    width: 200px;
}

.nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(44, 44, 44);
    opacity: 80%;
}

.nav ul li:hover {
    opacity: 100%;
    cursor: pointer;
    animation: navHover 0.25s linear;
    animation-fill-mode: forwards;
}

@keyframes navHover {
    from {
        background-color:none;
        border-radius:5px;
    }
    to {
        background-color:rgb(63, 63, 63);
        border-radius:10px;
        color:whitesmoke;
    }
}

.nav ul li {
    padding-left: 20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.pane1 {
    display: flex;
    justify-content: row;
    width: 100vw;
    justify-content: flex-end;
    height: 85vh;
    margin-top: 50px;
}

.landingText {
    margin-right: 10vw;
    margin-top: 40%;
    display: flex;
    justify-content: right;
    flex-direction: column;

}

h1 {
    font-weight: 500;
    margin: 0;
    display: inline;
    text-align: right;
    font-size: 60px;
}

h2 {
    font-weight: 500;
    margin: 0;
    font-size: 80px;
    text-align: right;
}

.spanText {
    font-weight: 700;
}


.pane1 img {
    width: 900px;
    object-fit: cover;
}

.paragraphText {
    text-align: left;
    line-height: 150%;
    margin-top: 40px;
    width: 545px;
    font-size: 18px;
}

.paragraphText a {
    font-weight: 500;
}

.trigger {
    width: 100%;
    visibility: hidden;
}

.horizontalParent {
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 80px;
}

.subheading2 {
    display: flex;
    justify-content: center;
    max-height: 200px;
}

.dare {
    font-weight: 400;
    margin-top: 50px;
    width: 300px;
    text-align: center;
    margin-bottom: 100px;
}

.dare span {
    font-weight: 700;
}

.spacer {
    width: 100vw;
    max-height: 750px;
    visibility: hidden;
}

section img {
    object-fit: cover;
    width: 500px;
    padding-left: 30px;
}

.panel2 ul {
    list-style-type: none;
    font-weight: 400;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textGallery {
    padding:
}

.panel {
    transform: translateX(75vw);
}

.panel3 {
    transform: translateX(-75vw);
}

@media only screen and (max-width: 767px) {
    .panel3 {
        transform: translateX(-200vw);
    }
}

.pane2 {
    display: flex;
    justify-content: row;
    width: 100vw;
    justify-content: center;
    margin-top: 50px;
    margin-top:40vh;
    margin-bottom:25vh;
}

.footer {
    display:flex;
    justify-content: center;
}

.footer ul {
    list-style-type: none;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-top:1.5px solid rgb(190, 190, 190);
    width:70%;
}

.footer ul li {
    padding:20px;
    text-align: center;
}

footer img {
    width:300px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.githubLogo {
    width:60px;
}

.fadeIn1 {
    animation: fadeIn linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fadeIn2 {
    animation: fadeIn linear;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.fadeIn3 {
    animation: fadeIn linear;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity:0%;
    }
    to {
        opacity: 100%;
    }
}